<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luizaabraamyan.studentmarkssystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.SubjectsActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.GroupsActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.MarksActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.EditMarkActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.MenuActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.ViewAllStudentsActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.EndorsementsActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.LabsActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.LabStudentActivity"></activity>
        <activity android:name=".com.example.luizaabraamyan.studentmarkssystem.activities.ViewAllScholarsActivity"></activity>


    </application>

</manifest>